select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}
.dropdown {
  display: inline-block;
}

.dropdown__container {
  position: relative;
}

.dropdown__select {
  padding: 10px 0;
  width: 5rem;
  text-align: center;
  background-color: var(--seventh-color);
  color: var(--primary-color-transparent);
  font-size: 0.8rem;
  font-weight: 400;
  border: none;
  cursor: pointer;
  border-radius: 4px;

  transition: 0.3s all ease-in-out;

  display: flex;
  align-items: center;
}
.dropdown__select:hover {
  color: white;
}

.dropdown__select:hover {
  background-color: #2980b9;
}

.dropdown__option {
  color: black;
}

.dropdown__icon {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  color: #fff;
  outline: 1px solid red;
}

.dropdown__custom-arrow {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  color: var(--primary-color-transparent); /* Arrow color */
  font-size: 0.7rem;
}

select:hover + .dropdown__custom-arrow {
  color: white;
}
