.footer__svg div {
  position: relative;
  z-index: 1;
}

.footer__svg div svg {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

.footer__svg--second {
  stroke-dasharray: 1991.6153564453125;
  stroke-dashoffset: 1991.6153564453125;
  animation: dash 40s linear forwards infinite;
}

/* Animation Keyframes */
@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
